.ck-source-editing-area .cm-editor {
    border: 1px solid var(--ck-color-base-border);
    border-radius: var(--ck-border-radius);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.ck-source-editing-area .cm-editor.cm-focused {
    border-color: var(--ck-color-focus-border);
    box-shadow: var(--ck-inner-shadow), 0 0;
}

/* Hide the area where SourceEditing puts its code content. */
.ck-source-editing-area::after {
    content: "";
    display: none;
}

